body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fae0e0;
    margin: 0;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
}

form fieldset {
    border: 2px solid #0e0709;
    border-radius: 8px;
    padding: 20px;
    background-color: #f4d3d9;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #2f3640;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #120d0d9f;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

#submit {
    background-color: lab(69.74% 39.33 17.32);
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

#submit:hover {
    background-color: #f3586d;
}

.notes {
    background-color: lab(89.81% 13.19 4.9);
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #2f3640;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.title {
    margin: 0 0 10px 0;
    color: #2f3640;
}

.description {
    margin: 0 0 10px 0;
    color: #353b48;
}

.note-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.delbtn,
.updatebtn,
.okBtn {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.delbtn {
    background-color: lab(69.93% 44.98 20.57);
    color: white;
}

.delbtn:hover {
    background-color: #f3586d;
}

.updatebtn {
    background-color: #50e439;
    color: white;
}

.updatebtn:hover {
    background-color: #49ce34;
}

.okBtn {
    background-color: #f57777;
    color: white;
    margin-top: 10px;
}

.okBtn:hover {
    background-color: #192a56;
}
